<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoundAlert.Properties.Settings>
            <setting name="SettingIsDetectingEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingIsSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingSecondsToSave" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingSamplesPerSecond" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="SettingBytesPerFrame" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="SettingBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SettingChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SettingAudioInputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingAudioOutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingAmplitudeThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
        </SoundAlert.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
